@import 'custom_bootstrap';
@import 'variables';

body {
  color: $dark;
  font-size: 14pt;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}