@import 'custom_bootstrap';
@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $dark;
  font-size: 14pt;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}


.text-turq {
  color: $turq;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.bg-turq {
  background-color: $turq;
  color: black;
  height: 5rem;
}

.bgTurq {
  background-color: $turq;
  min-height:5rem;
}

.contactBg {
  background-color: lightgrey;
}

.footerTurq {
  background-color: $turq !important;
  min-height: 5rem;
}